<template>
  <div class="">
    <div v-if="!loading" class="padding32">
      <span class="font20 fontBold">Curso-Udemy</span>
      <div class="marginTop32" style="max-width: 300px;">
        <span class="font16 fontBold">Cadastro</span>
        <q-input lazy-rules :rules="[ val => this.checkEmail || 'Insira um e-mail válido' ]" v-model="email" label="E-mail" />
          <q-input :type="isPwd ? 'password' : 'text'" lazy-rules :rules="[ val => this.senha.length >= 8 || 'pelo menos 8 caracteres' ]" v-model="senha" class="marginTop16" label="Senha">
            <template v-slot:append>
              <q-icon
              :name="isPwd ? 'visibility_off' : 'visibility'"
              class="cursor-pointer"
              @click="isPwd = !isPwd"
              />
            </template>
          </q-input>
          <q-input :type="isPwd2 ? 'password' : 'text'" lazy-rules :rules="[ val => this.confirmarSenha === this.senha || 'Confirme a senha' ]" v-model="confirmarSenha" class="marginTop16" label="Repetir senha">
            <template v-slot:append>
              <q-icon
              :name="isPwd2 ? 'visibility_off' : 'visibility'"
              class="cursor-pointer"
              @click="isPwd2 = !isPwd2"
              />
            </template>
          </q-input>
          <q-btn :disabled="checarFormulario" @click="cadastrar ()" class="width100 marginTop8 marginBottom8" color="primary" label="Cadastrar-se" />
          <span class="marginTop8">Já tem conta? --- <span @click="login ()" class="colorPrimary">Fazer login</span></span>
        </div>
      </div>
    <loading v-if="loading"></loading>
  </div>
</template>

<script>
import loading from '../components/Loading'

export default {
  name: 'PageIndex',
  data () {
    return {
      isPwd: true,
      isPwd2: true,
      email: '',
      senha: '',
      confirmarSenha: ''
    }
  },
  components: {
    loading
  },
  computed: {
    loading () {
      return this.$store.getters['loginModules/loading']
    },
    checkEmail () {
      let checker = false
      const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
      const regex = pattern.test(this.email.replace(' ', ''))
      if (regex === true && this.email !== '') {
        checker = true
      }
      return checker
    },
    checarFormulario () {
      let checker = true
      if ((this.senha === this.confirmarSenha) && this.senha !== '' && this.senha.length >= 8 && this.checkEmail) {
        checker = false
      }
      return checker
    }
  },
  methods: {
    cadastrar () {
      const payload = {
        email: this.email,
        senha: this.senha
      }
      // this.$store.commit('loginModules/nomeDaMutation')
      this.$store.dispatch('loginModules/cadastro', payload)
    },
    login () {
      this.$router.push('/login')
    }
  }
}
</script>
