<template>
  <div class="padding32">
    <div v-if="!loading">
      <span class="font20 fontBold">Curso-Udemy</span>
      <div class="marginTop32 marginBottom32" style="max-width: 300px;">
        <span class="font16 fontBold">Login</span>
        <q-input v-model="email" class="marginTop16" outlined label="E-mail de login" />
        <q-input :type="isPwd ? 'password' : 'text'" v-model="senha" class="marginTop16" outlined label="Senha">
          <template v-slot:append>
            <q-icon
            :name="isPwd ? 'visibility_off' : 'visibility'"
            class="cursor-pointer"
            @click="isPwd = !isPwd"
            />
          </template>
        </q-input>
        <q-btn @click="login ()" class="width100 marginTop8 marginBottom16" color="primary" label="Login" />
        <span @click="recuperar ()" class="marginTop8 colorPrimary">Recuperar minha senha</span>
        <br>
        <div class="marginTop8">
          <span>Não tem conta? --- <span class="colorPrimary" @click="cadastro ()">Cadastre-se</span></span>
        </div>
        <q-btn class="marginTop32" color="primary" @click="mostrar = !mostrar, teste ()" label="ocultar / mostrar" />
        <div v-if="mostrar">Palavra</div>
        <q-btn class="marginTop32" color="primary" @click="testeMutation ()" label="Testar mutation" />
      </div>
    </div>
    <loading v-if="loading"></loading>
  </div>
</template>

<!-- v-if - ok
v-for
v-model - ok
data - ok
mounted ()
watch
computed ok -->

<script>
import loading from '../components/Loading'
export default {
  name: 'PageIndex',
  data () {
    return {
      isPwd: true,
      email: '',
      senha: '',
      mostrar: true
    }
  },
  mounted () {

  },
  watch: {
  },
  components: {
    loading
  },
  methods: {
    teste () {
      console.log('ok')
    },
    testeMutation () {
      this.$store.commit('loginModules/updateTest', 'ok')
    },
    login () {
      // console.log('teste email', this.email, this.senha)
      // console.log('teste senha', this.senha)
      this.$store.dispatch('loginModules/login', { email: this.email, senha: this.senha })
    },
    recuperar () {
      this.$router.push('/recuperar')
    },
    cadastro () {
      this.$router.push('/cadastro')
    }
  },
  computed: {
    loading () {
      // return this.email + ' ' + this.senha
      return this.$store.getters['loginModules/loading']
    }
  }
}
</script>
