<template>
  <div class="padding32">
    <span class="font20 fontBold">Curso-Udemy</span>
    <div class="marginTop32" style="max-width: 300px;">
      <span class="font16 fontBold">Recupere sua senha</span>
      <q-input label="E-mail" />
      <q-btn class="width100 marginTop8 marginBottom8" color="primary" label="recuperar senha" />
      <span class="marginTop8">Já tem conta? --- <span @click="login ()" class="colorPrimary">Fazer login</span></span>
      <br />
      <div class="marginTop8">
        <span class="marginTop8">Não tem conta? --- <span @click="cadastro ()" class="colorPrimary">Cadastrar-se</span></span>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'PageIndex',
  methods: {
    login () {
      this.$router.push('/login')
    },
    cadastro () {
      this.$router.push('/cadastro')
    }
  }
}
</script>
