<template>
  <div class="column marginTop32 column alignCenter" style="background: white;">
    <q-circular-progress
      indeterminate
      size="50px"
      color="blue"
    />
    <span class="marginTop16 colorPrimary">Aguarde um pouco!</span>
  </div>
</template>

<script>
export default {
  name: 'EssentialLink'
}
</script>
