// app global css in Stylus form

.alignCenter {
  align-items: center;
}

.colorPrimary {
  color: #1976D2;
}

.width100 {
  width: 100%;
}

.fontBold {
  font-weight: bold;
}

.font20 {
  font-size: 20px;
}

.font16 {
  font-size: 16px;
}

.font14 {
  font-size: 14px;
}

.font12 {
  font-size: 12px;
}

.padding16 {
  padding: 16px;
}
.padding32 {
  padding: 32px;
}

.margin8 {
  margin: 8px;
}

.margin16 {
  margin: 16px;
}

.margin32 {
  margin: 32px;
}

.marginTop8 {
  margin-top: 8px;
}

.marginBottom8 {
  margin-bottom: 8px;
}

.marginLeft8 {
  margin-left: 8px;
}

.marginRight8 {
  margin-right: 8px;
}

.marginTop16 {
  margin-top: 16px;
}

.marginBottom16 {
  margin-bottom: 16px;
}

.marginLeft16 {
  margin-left: 16px;
}

.marginRight16 {
  margin-right: 16px;
}

.marginTop32 {
  margin-top: 32px;
}

.marginBottom32 {
  margin-bottom: 32px;
}

.marginLeft32 {
  margin-left: 32px;
}

.marginRight32 {
  margin-right: 32px;
}
