<template>
  <div id="q-app">
    <router-view />
  </div>
</template>
<script>
export default {
  name: 'App',
  computed: {
    user () {
      return this.$store.getters['loginModules/user']
    }
  },
  watch: {
    user (value) {
      if (value !== null) {
        this.$router.push('/')
      }
      if (value === null) {
        this.$router.push('/login')
      }
    }
  }
}
</script>
