<template>
  <q-layout view="lHh lpR fFr">

    <q-header reveal elevated class="bg-primary text-white">
      <q-toolbar>
        <q-toolbar-title>
          Curso - Udemy
        </q-toolbar-title>

        <q-btn dense flat round icon="menu" @click="right = !right" />
      </q-toolbar>
    </q-header>

    <q-drawer :width="230" v-model="right" side="right" overlay bordered>
      <!-- drawer content -->
      <q-btn @click="logout ()" icon="exit_to_app" class="marginTop16 width100" flat label="Sair" />
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>

  </q-layout>
</template>

<script>
export default {
  data () {
    return {
      right: false
    }
  },
  methods: {
    logout () {
      this.$store.dispatch('loginModules/logout')
    }
  }
}
</script>
